body {
  min-height: 100vh;
  background: #f1f3f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.login-card {
  width: 500px;
  background: white;
  border-radius: 20px;
  padding: 55px 30px 70px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  border: 1px solid #d0d0d0;
}

.basket-icon {
  text-align: center;
  font-size: 75px;
  color: #4caf50;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #087c45;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #555;
  font-size: 20px;
  margin-bottom: 55px;
}

.form-label {
  font-size: 20px;
  color: #001b3d;
  margin-bottom: 10px;
}

.form-control {
  height: 47px;
  font-size: 18px;
  border-radius: 7px;
}

.login-btn {
  background: #4caf50;
  color: white;
  font-size: 20px;
  height: 45px;
  border-radius: 7px;
  margin-top: 5px;
}

.login-btn:hover {
  background: #43a047;
  color: white;
}

.create-link {
  display: block;
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
  text-decoration: none;
}
.tracker-card {
  width: 650px;
  background: white;
  border-radius: 20px;
  padding: 45px 35px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  border: 1px solid #d0d0d0;
}
body.dark-mode {
  background: #121212;
  color: white;
}

body.dark-mode .tracker-card,
body.dark-mode .login-card {
  background: #1e1e1e;
  color: white;
  border-color: #333;
}

body.dark-mode h1 {
  color: #4caf50;
}

body.dark-mode .subtitle,
body.dark-mode .form-label,
body.dark-mode h4,
body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
  color: white;
}

body.dark-mode .form-control {
  background: #2b2b2b;
  color: white;
  border-color: #555;
}

body.dark-mode .form-control::placeholder {
  color: #bbb;
}

body.dark-mode .table {
  --bs-table-bg: #1e1e1e;
  --bs-table-color: white;
  --bs-table-border-color: #444;
}
.tracker-card {
  width: 800px;
  background: white;
  border-radius: 20px;
  padding: 45px 35px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
  border: 1px solid #d0d0d0;
}

body.dark-mode {
  background: #121212;
  color: white;
}

body.dark-mode .tracker-card,
body.dark-mode .login-card {
  background: #1e1e1e;
  color: white;
  border-color: #333;
}

body.dark-mode h1 {
  color: #4caf50;
}

body.dark-mode .subtitle,
body.dark-mode .form-label,
body.dark-mode h4,
body.dark-mode table,
body.dark-mode th,
body.dark-mode td {
  color: white;
}

body.dark-mode .form-control {
  background: #2b2b2b;
  color: white;
  border-color: #555;
}

body.dark-mode .form-control::placeholder {
  color: #bbb;
}

body.dark-mode .table {
  --bs-table-bg: #1e1e1e;
  --bs-table-color: white;
  --bs-table-border-color: #444;
}

.purchased-row td {
  text-decoration: line-through;
  color: #888 !important;
}
.tracker-card {
  max-width: 800px;
  width: 90%;
  margin: 40px auto;
}